body {
    font-family: 'Oswald', sans-serif; /*Custom font from Google Fonts*/
    color: #FBE7E4;
    font-size: 25px;
    font-weight: bold;
    background-image: url("images/pattern.webp");
}
/*Title text*/
h1 {
    font-family: Allison; /*Custom font from Google Fonts*/
    font-size: 150px;
    font-weight: bold;
    color: #E4F9FB;
    text-align: center;
}

/*Section text*/
h2 {
    font-family: 'Oswald', sans-serif; /*Custom font from Google Fonts*/
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
}

.textWrap {
    clear: right;
    float: left;
    margin-right: 20px;
    vertical-align: middle;
}

img {
    width: 130px;
    height: 130px;
}

.price {
    font-family: Allison; /*Custom font from Google Fonts*/
    color: #0F6772;
    font-weight: bold;
    font-size: 40px;
}