body {
    font-family: 'Open Sans Condensed'; /*Custom font from Google Fonts*/
    color: #555555;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0px;
    background-image: url(/images/paint\ drip\ background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: center;
}

/*Title text*/
h1 {
    font-family: 'Fjalla One'; /*Custom font from Google Fonts*/
    font-size: 140px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #020c0d;
    text-align: center;
    margin-bottom: 0px;
}

/*Navigation bar*/
ul {
    width: auto;
    padding: 15px;
    margin-right: 0px auto 0px auto;
    border-top: 5px solid #020c0d;
    border-bottom: 5px solid #020c0d;
    background-color: white;
    text-align: center;
}
li {
    display: inline;
    margin: 0px 40px;
    font-family: 'Fjalla One'; 
    text-transform: uppercase;
}

/*Navigation bar responses to users*/
a:link {
    color: #020c0d;
    text-decoration: none;
}
a:visited {
    color: #020c0d;
}
a:active {
    color:#E8179C;
}
a:hover {
    color:#E8179C;
}

/*Section headers*/
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    color: #020c0d;
    margin: 15px;
}

/*Items images, placed under navigation bar*/
img {
    width: 200px;
    height: 200px;
    border: 2px solid #555555;
    padding: 0px;
    margin: 25px 25px;
}

p {
    background-color: white;
    padding: 20px;
    border: 2px solid #555555;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*Item prices*/
.price {
    font-family: 'Allison', cursive; /*Custom font from Google Fonts*/
    color: #E8179C;
    font-weight: bold;
    font-size: 50px;
}

/*Shop contact info*/
#contact {
    font-family: 'Fjalla One';
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #020c0d;
    border: none;
    background: none;
    box-shadow: none;
}