body {
    font-family: sans-serif; /*Custom font from Google Fonts*/
    color: #020c0d;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: -1px;
    background-image: url(/images/paint\ drip\ background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: center;
}

/*Title text*/
h1 {
    font-family: 'Fjalla One', sans-serif; /*Custom font from Google Fonts*/
    font-size: 140px;
    font-weight: bold;
    letter-spacing: -5px;
    color: #020c0d;
    text-align: center;
    margin-bottom: 0px;
}

/*Navigation bar*/
ul {
    width: auto;
    padding: 15px;
    margin-right: 0px auto 0px auto;
    border-top: 5px solid #020c0d;
    border-bottom: 5px solid #020c0d;
    background-color: white;
    text-align: center;
}
li {
    display: inline;
    margin: 0px 40px;
    font-family: 'Fjalla One', sans-serif; 
    text-transform: uppercase;
}

/*Navigation bar responses to users*/
a:link {
    color: #020c0d;
    text-decoration: none;
}
a:visited {
    color: #020c0d;
}
a:active {
    color:#E8179C;
}
a:hover {
    color:#E8179C;
}

/*Section text*/
h2 {
    font-family: 'Oswald', sans-serif; /*Custom font from Google Fonts*/
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: #4f0a33;
    margin: 15px;
}

h3 {
    text-align: center;
}

img {
    width: 160px;
    height: 160px;
    border: 0px solid #020c0d;
    border-radius: 100px;
}


.price {
    font-family: Allison; /*Custom font from Google Fonts*/
    color: #3360cc;
    font-weight: bold;
    font-size: 50px;
}